.titulo-principal {
    font-size: 10px;
    color: #ffae00;
    text-align: left;
    margin-top: 1px;
}
.titulo-secundario {
    font-size: 75px;
    color: #ffae00;
    text-align: center;
    margin-top: 1px;

}

.produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 160px;
}
.produto1, .produto2, .produto3{
    display: flow-root;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.img1 {
    width: 100px;
    height: auto;
}

.null {
    width: 10px;
    height: 10px;
}