*{
    background-color:  #FADADD;
}

.titulo-principal {
    font-size: 80px;
    color:black;
    text-align: center;
    margin-top: 1px;
    font-style:oblique;
}
.menu-principal{
     font-size: 30px;
    color: black; 
 
}


